In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
election = pd.read_csv('EC2016.csv')

In [3]:
election['PopulationPerElector'] = election['TotalPopulation'] / election['TotalElectoralVotes']

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [12]:
election.head()

,State,TotalElectoralVotes,TrumpElectoral,TrumpElectoralOther,ClintonElectoral,ClintonElectoralOther,PenceElectoral,PenceElectoralOther,KaineElectoral,KaineElectoralOther,TotalPopulation,TotalPopularVotes,TrumpPopular,ClintonPopular,JohnsonPopular,SteinPopular,OtherPopular
0,Alabama,9,9,0,0,0,9,0,0,0,"4,863,300","2,123,372","1,318,255","729,547","44,467","9,391","21,712"
1,Alaska,3,3,0,0,0,3,0,0,0,"741,894","309,407","163,387","116,454","18,725","5,735","5,106"
2,Arizona,11,11,0,0,0,11,0,0,0,"6,931,071","2,571,689","1,252,401","1,161,167","106,327","34,345","17,449"
3,Arkansas,6,6,0,0,0,6,0,0,0,"2,988,248","1,130,635","684,872","380,494","29,829","9,473","25,967"
4,California,55,0,0,55,0,0,0,55,0,"39,250,017","14,080,413","4,483,810","8,753,788","478,499","278,657","85,659"